body {
    margin: 0%;
}

.container {
    max-width: 1350px;
    margin: 0px auto;
}

.header-container {
    display: flex;
    padding: 20px 0 45px 0;
}

.headerpart {
    flex: 1;
}

.luxteriortitle {
    font-size: 30px;
    display: flex;
    align-items: center;
}

nav li {
    display: inline;
    padding: 0% 3%;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}


.navigationicons {
    display: flex;
    align-items: center;
    justify-content: end;
}

.navigationicons a {
    color: black;
    font-size: 20px;
}

.iconspace {
    width: 11%;
}

@media (min-width:768px) and (max-width:1025px) {
    header {
        padding: 0% 2%;
    }

    .navigationbardiv {
        flex: 4;
        text-align: center;
    }
}

@media(max-width: 700px) {
    header {
        padding: 0% 4%;
    }

    .navigationicons a {
        font-size: 11px;
    }
}

@media(max-width: 426px) {
    header {
        padding: 0% 1%;
    }

    .header-container {
        padding: 0px 0px;
    }

    .luxteriortitle {
        font-size: 16px;
    }

    nav a {
        font-size: 13px;
    }

    .navigationbardiv {
        flex: 4;
        text-align: center;
    }

    nav li {
        display: inline;
        padding: 0% 1%;
    }

    .navigationicons {
        flex: 0.5;
    }

    ul {
        padding: 0px 0px;
    }

    .iconspace {
        width: 26%;
    }
}

.banner-container {
    position: relative;
    right: -21%;
    margin-left: auto;
    right: 0;
}

.textbox {
    background-color: #5a6e79;
    padding: 3% 7.5% 3% 6.6%;
    margin: 1% 0% 0% -6.5%;
    color: white;
    position: absolute;
    top: 8%;
    z-index: 1;
}

#fontbig {
    font-size: 33px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#borderbox {
    border-style: solid;
    padding: 40px;
    position: absolute;
    top: 89%;
    left: 17.5%;
}

.bannerimagecontainer {
    position: relative;
    left: 20%;
    width: 80%;
}

#bannerimage {
    height: 576px;
    width: 100%;
}

#boxwitharrow {
    background-color: #5a6e79;
    padding: 36px 52px;
    position: absolute;
    top: 503px;
    right: -1%;
    color: white;
}

@media(max-width: 1025px) {
    .textbox {
        padding: 3% 7.5% 3% 8.8%;
    }
}

@media(max-width: 1000px) {
    .bannerimagecontainer {
        left: 0px;
        width: 100%;
    }

    #bannerimage {
        width: 100%;
    }

    #borderbox {
        display: none;
    }

    #boxwitharrow {
        display: none;
    }

    .textbox {
        background-color: #5a6e79;
        padding: 3% 7.5% 3% 9.6%;
        margin: 1% 0% 0% -6.5%;
        color: white;
        position: absolute;
        top: 16%;
        z-index: 1;
    }
}

@media(max-width: 700px) {
    .banner-container {
        position: relative;
        display: flex;
    }

    .textbox {
        padding: 3% 2% 3% 8%;
        position: absolute;
        top: 14%;
    }

    #fontbig {
        font-size: 92%;
        font-weight: 590;
    }

    .fontsmall {
        font-size: 64%;
        line-height: 1.3;
    }

    #bannerimage {
        height: 100%;
        width: 100%;
    }

    .bannerimagecontainer {
        top: 0px;
        position: relative;
        display: inline;
    }

    #borderbox {
        display: none;
    }

    #boxwitharrow {
        display: none;
    }

    #boxwitharrow fa-solid {
        font-size: 86%;
    }
}

@media(max-width: 700px) {
    .textbox {
        top: 8%;
    }
}
.benefits-container {
    display: flex;
    align-items: center;
    padding: 9% 0% 9% 0%;
}

#hrline {
    height: 4px;
    width: 95px;
    background-color: black;
}

#benefitstext {
    display: inline-block;
    font-size: 214%;
    font-weight: bold;
    padding-left: 3.5%;
}

@media(max-width: 1025px) {
    #benefits {
        padding: 11% 7% 10% 2%;
    }
}

@media(max-width: 1000px) {
    #benefits {
        padding: 10% 0% 8% 2%;
    }
}

@media(max-width: 700px) {

    #benefits {
        padding: 17% 0% 8% 8%;
    }

    #hrline {
        height: 2.5px;
        width: 50px;
    }

    #benefitstext {
        font-size: 21px;
        padding-left: 5.5%;
    }
}

@media(max-width: 426px) {
    .benefits-container {
        padding: 0% 0% 0% 7%;
    }

    #hrline {
        height: 2.4px;
    }

    #benefitstext {
        font-size: 17px;
    }
}

.grid-container {
    display: flex;
}

.box {
    display: flex;
    flex: 1;
}

.boxleft {
    justify-content: left;
}

.boxcenter {
    justify-content: center;
}

.boxright {
    justify-content: right;
}

.text {
    padding-left: 18px;
}

.heading {
    font-weight: bold;
    font-size: 200%;
    margin: 0;
}

.gridsmallfont {
    font-size: 150%;
    margin: 0;
}

svg {
    height: 65px;
    width: 65px;
}

@media(max-width:1025px) {
    .grid-container {
        padding: 0% 2%;
    }

    .gridsmallfont {
        font-size: 130%;
    }

    svg {
        height: 50px;
        width: 50px;
    }
}

@media(max-width:1000px) {
    .box {
        flex: 1;
        justify-content: center;
        padding: 0px 10px;
    }

    .boxcenter {
        padding-right: 0%;
    }

    .heading {
        font-size: 150%;
    }

    .gridsmallfont {
        font-size: 100%;
    }
}

@media(max-width:700px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .box {
        padding: 5%;
        justify-content: left;
    }


    .heading {
        font-size: 106%;
    }

    .gridsmallfont {
        font-size: 83%;
    }
}

@media(max-width:426px) {
    svg {
        height: 30px;
        width: 30px;
    }

    .box {
        padding: 2% 4%;
    }

    .grid-container br {
        display: none;
    }
}

.weprovide1-container {
    display: flex;
    padding: 10% 0% 6% 0%;
}

#weprovide1image {
    height: 600px;
    width: 40%;
}

#weprovtext {
    margin-left: auto;
    position: relative;
}

.weprovhead {
    font-size: 40px;
    font-weight: bold;
}

.weprovsub {
    font-weight: 500;
    font-size: 125%;
    color: #5a6e79;
    font-family: 'Poppins', sans-serif;
}

.weprovnum {
    color: #5a6e79;
    display: flex;
}

.digit {
    font-weight: bold;
    font-size: 55px;
    padding-bottom: 2%;
}

.numbers {
    padding-top: 4%;
    padding-right: 10%;
}

@media(max-width:1025px) {
    .weprovide1-container {
        padding: 10% 1% 6% 2%;
    }

    #weprovtext {
        padding-left: 2%;
    }
}

@media(max-width:1000px) {
    .weprovide1-container {
        padding: 92px 22px 49px 22px;
    }

    #weprovtext {
        padding-left: 4%;
    }
}

@media(max-width:700px) {
    .weprovide1-container {
        display: flex;
        flex-direction: column;
        padding: 22px 22px 5px 22px;
    }

    #weprovtext {
        margin-left: 0;
        padding: 9px 0px;
    }

    .weprovhead {
        font-size: 18px;
        margin: 0;
    }

    #weprovide1image {
        height: auto;
        width: 100%;
    }

    .weprovsub {
        font-size: 7px;
    }

    .digit {
        font-size: 28px;
    }
}

@media(max-width:426px) {
    .numbers {
        padding-top: 0%;
        padding-right: 6%;
    }
}

#learnbutton {
    background-color: white;
    color: #5a6e79;
    border: 2px solid #5a6e79;
    padding: 11px 20px;
}

#learnbuttoncontainer {
    padding-top: 7%;
    display: flex;
    align-items: center;
}

#arrowimage {
    width: 38px;
    position: absolute;
    left: 14.5%;
}

@media(max-width:1025px) {
    #arrowimage {
        left: 20%;
    }
}

@media(max-width:1000px) {
    #arrowimage {
        position: relative;
        left: -3.5%;
    }
}

@media(max-width:700px) {

    #learnbuttoncontainer {
        padding-top: 3%;
        display: flex;
        align-items: center;
    }

    #learnbutton {
        border: 1px solid #5a6e79;
        padding: 4px 9px;
        font-size: 64%;
    }

    #arrowimage {
        width: 24px;
        left: -2.5%;
    }
}

.weprovide2-container {
    display: flex;
}

.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 412px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5a6e79;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.line {
    width: 2px;
    height: 85px;
    background-color: gray;
}

.bullet {
    display: flex;
}

.bulletcontent1 {
    padding: 3% 0% 0% 0%;
}

.bulletcontent2 {
    padding: 9% 0% 0% 0%;
}

.bulletcontent3 {
    padding: 8.5% 0% 0% 0%;
}

.bullettext {
    padding-left: 30px;
}

.bulletsubtext {
    font-size: 105%;
    color: #5a6e79;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
}

@media(max-width:1025px) {
    .weprovide2-container {
        padding: 0% 1% 0% 2%;
    }

    .bulletsubtext br {
        display: none;
    }

    .bulletcontent2 {
        padding: 6% 0% 0% 0%;
    }

    .bulletcontent3 {
        padding: 5% 0% 0% 0%;
    }

    .part1 {
        flex: 1;
    }

    .part2 {
        flex: 1;
        padding-left: 10%;
    }
}

@media(max-width:1000px) {
    .weprovide2-container {
        padding: 0px 22px;
        display: flex;
        flex-direction: column;
    }

    .bulletsubtext {
        font-size: 85%;
    }

    .bulletcontent2 {
        padding-top: 83.5px;
    }

    .bulletcontent3 {
        padding-top: 86px;
    }
}

@media(max-width:446px) {
    .bulletcontent1 {
        padding-top: 9px;
    }

    .bulletcontent2 {
        padding-top: 30.5px;
    }

    .bulletcontent3 {
        padding-top: 36px;
    }

    .circle-container {
        justify-content: normal;
        height: auto;
    }

    .circle {
        width: 40px;
        height: 40px;
        font-size: 17px;
    }

    .line {
        margin: 22% 0%;
        width: 1.6px;
    }

    .line1 {
        height: 36px;
    }

    .line2 {
        height: 41px;
    }

    .bullettext br {
        display: none;
    }

    .bulletsubtext {
        font-size: 63.5%;
    }

    .bullet {
        padding-top: 3%;
    }
}

@media(max-width:376px) {
    .bulletcontent1 {
        padding-top: 9px;
    }

    .bulletcontent2 {
        padding-top: 31px;
    }

    .bulletcontent3 {
        padding-top: 35px;
    }
}

@media(max-width:321px) {
    .bulletcontent1 {
        padding-top: 9px;
    }

    .bulletcontent2 {
        padding-top: 16px;
    }

    .bulletcontent3 {
        padding-top: 21px;
    }
}

.part2 {
    margin-left: auto;
}

#weprovide2image {
    height: 642px;
    width: 550px;
    padding-top: 33px;
}

@media(max-width:1025px) {
    #weprovide2image {
        width: 493px;
    }
}

@media(max-width:1000px) {
    .part2 {
        margin-right: auto;
    }

    #weprovide2image {
        height: 642px;
        padding-top: 64px;
    }
}

@media(max-width:700px) {
    .part2 {
        margin-left: 0;
        padding-left: 0%;
    }

    #weprovide2image {
        height: auto;
        width: 100%;
        padding-top: 10px;
    }

}

.weour-container {
    display: flex;
    padding: 4% 0% 1% 0%;
    align-items: center;
}

.weouricon {
    margin-left: auto;
}

@media(max-width:1025px) {
    .weour-container {
        padding: 6% 2% 3% 2%;
    }
}

@media(max-width:1000px) {
    .weour-container {
        padding: 9% 4% 4% 4%;
    }
}

@media(max-width:700px) {
    .weour-container {
        padding: 2% 4% 2% 4%;
    }

}

.iconclr1 {
    color: #c4c5c7;
}

.iconclr2 {
    color: #878c8f;
}

@media(max-width:700px) {
    .weouricon {
        font-size: 55%;
    }
}

.quote-container {
    display: flex;
    padding: 70px 0px;
}

.quote-container i {
    color: white;
}

.quotebox {
    flex: 1;
    background-color: #5a6e79;
    color: white;
    padding: 5% 8%;
}

.space {
    width: 40px;
}

.quoteheading {
    font-weight: 500;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.quotetext {
    font-family: 'Poppins', sans-serif;
    font-size: small;
    margin: 0;
    padding: 6% 0%;
}

.image-container {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.person {
    display: flex;
    align-items: center;
}

.name-container {
    padding-left: 16px;
    padding-top: 9px;
}

.name-container p {
    margin: 0;
}

.personname {
    font-size: 113%;
}

.personjob {
    font-size: 78%;
}

@media(max-width:1025px) {
    .quote-container {
        padding: 70px 21px;
    }

    .quotebox {
        padding: 5% 6%;
    }

}

@media(max-width:700px) {
    .quote-container {
        display: flex;
        flex-direction: column;
        padding: 3%;
    }

    .space {
        height: 10px;
    }

    .quotebox i {
        font-size: xx-large;
    }

    .quotetext br {
        display: none;
    }

    .quoteheading {
        font-size: large;
    }

    .quotebox {
        padding: 2% 3%;
    }

    .quotetext {
        font-size: x-small;
    }

    .image-container {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        align-items: center;
    }

    .name-container {
        padding-left: 10px;
        padding-top: 0px;
    }

    .personname {
        font-size: 75%;
    }

    .personjob {
        font-size: 56%;
    }
}

.subscribe-container {
    text-align: center;
    padding: 2% 0% 5% 0%;
}


@media(max-width:700px) {
    .subscribe-container {
        padding: 0% 0% 3% 0%;
    }
}

.textgrey {
    color: #5a6e79;
    font-family: 'Poppins', sans-serif;
    font-size: 85%;
    font-weight: 500;
    padding-top: 2%;
    margin: 0;
}

@media(max-width:700px) {
    .textgrey {
        font-size: 55%;
        padding-top: 3%;
    }
}

@media(max-width:1000px) {
    .textgrey {
        padding-bottom: 5%;
    }
}

.textfieldcontainer {
    width: 50%;
    margin: auto;
    box-shadow: 0px -1px 10px #d2d1d1;
    position: absolute;
    bottom: 94%;
    background-color: white;
}

.textfieldclass {
    height: 51px;
    width: 67%;
    border: none;
    position: relative;
    left: 5%;
    top: 5%;
}

#subscribebutton {
    border: none;
    background-color: #5a6e79;
    color: white;
    padding: 10px 44px;
    position: absolute;
    right: 2%;
    top: 14%;
    font-family: 'Poppins', sans-serif;
}

@media(max-width:1000px) {
    #subscribebutton {
        right: 26px;
        top: 14px;
        font-size: 87%;
        padding: 1px 17px
    }

    .textfieldcontainer {
        width: 50%;
        box-shadow: 0px 0px 7px #d2d1d1;
        bottom: 96%;
    }
}

@media(max-width:700px) {
    .textfieldcontainer {
        width: 90%;
        box-shadow: 0px 0px 7px #d9d9d9;
        bottom: 98%;
    }

    .textfieldclass {
        height: 25px;
        width: 59%;
        left: 4%;
        top: 9%;
    }

    #subscribebutton {
        right: 9px;
        top: 5.5px;
        font-size: 68%;
        padding: 1px 14px;
    }
}

@media(max-width:426px) {
    .textfieldcontainer {
        width: 81%;
    }

    #subscribebutton {
        padding: 0px 7px;
    }
}

footer {
    position: relative;
    width: 100%;
    background-color: #5a6e79;
    display: flex;
    justify-content: center;
}

.luxhead {
    font-weight: bold;
    font-size: 22px;
    color: white;
    margin: 0;
}

.luxtext {
    padding-top: 28px;
    color: #bbbbbb;
}

footer a {
    text-decoration: none;
    color: #bbbbbb;
    font-size: 14px;
    display: block;
    line-height: 40px;
}

.footerlinks {
    display: flex;
    flex-direction: row;
    padding: 8% 0%;
    flex-wrap: wrap;
}

.footerblock {
    padding: 24px 18px 0px 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 80%;
    flex: 1;
}

.firstblock {
    flex: 3;
}

.lastblock {
    flex: 2;
}

.footericoncontainer {
    padding-top: 6px;
}

.footericoncontainer a {
    display: inline;
    line-height: 0px;
}

.footericons {
    color: #ffffff;
    line-height: 80px;
}


@media(max-width:1025px) {
    .footerblock i {
        font-size: 21px;
    }
}

@media(max-width:1000px) {
    .footerlinks {
        padding-top: 50px;
    }
}

@media (min-width:700px) and (max-width:991px) {
    .footerlinks {
        flex-wrap: wrap;
    }

    .footerblock {
        flex-basis: auto;
        width: 25%;
        padding: 24px 18px 24px 18px;
        text-align: center;
    }
}

@media(max-width:700px) {
    .footerblock {
        padding: 0px 0px 0px 18px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footerlinks {
        flex-direction: column;
        padding: 8% 0% 0% 0%;
    }

    .luxhead {
        font-weight: 500;
        font-size: 19px;
    }

    .luxtext {
        padding-top: 3px;
        padding-bottom: 9px;
        font-size: smaller;
    }

    footer a {
        line-height: 20px;
        font-size: small;
    }

    .footericoncontainer {
        padding-top: 17px;
    }

    .footericons {
        line-height: 21px;
    }
}