body {
    margin: 0%;
}

.container {
    max-width: 1350px;
    margin: 0px auto;
}

.header-container {
    display: flex;
    padding: 20px 0px 45px 0px;
}

.headerpart {
    flex: 1;
}

.luxteriortitle {
    font-size: 30px;
    display: flex;
    align-items: center;
}

nav li {
    display: inline;
    padding: 0% 3%;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}


.navigationicons {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 2%;
}

.navigationicons a {
    color: black;
    font-size: 20px;
}

.iconspace {
    width: 11%;
}

@media(max-width: 1195px) {
    header {
        padding: 0% 1%;
    }

    .header-container {
        padding: 0px 0px;
    }

    .luxteriortitle {
        font-size: 16px;
    }

    nav a {
        font-size: 13px;
    }

    .navigationbardiv {
        flex: 4;
        text-align: center;
    }

    nav li {
        display: inline;
        padding: 0% 1%;
    }

    .navigationicons {
        flex: 0.5;
    }

    .navigationicons a {
        font-size: 11px;
    }

    ul {
        padding: 0px 0px;
    }

    .iconspace {
        width: 26%;
    }
}

.banner-container {
    position: relative;
    margin-left: auto;
    right: 0;
}

.textbox {
    background-color: #5a6e79;
    color: white;
    position: absolute;
    top: 9%;
    z-index: 2;
    width: 30%;
}

.textbox-heading {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 92%;
}

.textbox-paragraph {
    font-size: 19.5px;
    line-height: 1.3;
    width: 76%;
}

#borderbox {
    border-style: solid;
    padding: 4%;
    position: absolute;
    top: 88%;
    right: 77%;
}

.bannerimagecontainer {
    position: relative;
    right: -18%;
    width: 80%;
    z-index: 1;
}

#bannerimage {
    height: auto;
    width: 100%;
}

#boxwitharrow {
    background-color: #5a6e79;
    padding: 3% 4%;
    position: absolute;
    top: 88%;
    right: 1%;
    color: white;
    z-index: 1;
}

@media(min-width: 1350px) {
    .textbox {
        padding: 3% 4.5% 3% 100%;
        margin: 1% 0% 0% -100%;
    }
}

@media(min-width: 1024px) and (max-width: 1350px){
.textbox {
    width: 40%;
    padding: 3% 0% 3% 1%;
}
}

@media(max-width: 1024px) {
.textbox {
    width: 40%;
}
}

@media(max-width: 1000px) {
    .bannerimagecontainer {
        left: 0px;
        width: 100%;
    }

    #bannerimage {
        width: 100%;
    }

    #borderbox {
        display: none;
    }

    #boxwitharrow {
        display: none;
    }

    .textbox {
        background-color: #5a6e79;
        padding: 3% 2.5% 3% 1%;
        position: absolute;
        top: 16%;
        width: 37%;
    }

    .textbox-heading {
        font-size: 176%;
        width: 100%;
    }

    .textbox-paragraph {
        font-size: 17px;
        width: 98%;
}
}

@media(max-width: 700px) {
    .banner-container {
        display: flex;
    }

    .textbox {
        padding: 0% 0% 0% 1%;
        width: 45%;
    }

    .textbox-heading {
        font-size: 130%;
        width: 89%;
    }

    .textbox-paragraph {
        font-size: 61%;
        width: 75%;
    }

    .bannerimagecontainer {
        top: 0px;
        display: inline;
    }
}

@media(max-width: 426px) {
    .textbox {
        width: 33%;
    }

    .textbox-heading {
        font-size: 81%;
        width: 89%;
    }

    .textbox-paragraph {
        font-size: 42%;
        width: 93%;
    }
}

.benefits-container {
    display: flex;
    align-items: center;
    padding: 8% 0% 4% 0%;
}

.horizontal-line {
    height: 4px;
    width: 95px;
    background-color: black;
}

#benefitstext {
    display: inline-block;
    font-size: 214%;
    font-weight: bold;
    padding-left: 3.5%;
    width: 29%;
}

@media(min-width: 2000px) {
    .benefits-container {
        padding: 3% 0%;
    }
}

@media(max-width: 1025px) {
    .benefits-container {
        padding: 11% 7% 5% 2%;
    }

    #benefitstext {
        width: 37%;
    }
}

@media(max-width: 1000px) {
    .benefits-container {
        padding: 5% 0% 5% 0%;
    }

    #benefitstext {
        font-size: 182%;
        width: 38%;
    }
}

@media(max-width: 700px) {
    .benefits-container {
        padding: 2% 0% 1% 8%;
    }

    .horizontal-line {
        height: 2.5px;
        width: 50px;
    }

    #benefitstext {
        font-size: 21px;
        padding-left: 5.5%;
    }
}

@media(max-width: 426px) {
    .benefits-container {
        padding: 0% 0% 0% 7%;
    }

    .horizontal-line {
        height: 2.4px;
    }

    #benefitstext {
        font-size: 17px;
        width: 55%;
    }
}

.best-quality-container {
    display: grid;
    grid-template-columns: 8% 25% 8% 25% 8% 25%;
    justify-content: center;
}

.best-quality-icon {
    display: flex;
    justify-content: center;
}


.best-quality-heading-font {
    font-weight: bold;
    font-size: 200%;
    margin: 0;
}

.gridsmallfont {
    font-size: 150%;
    margin: 0;
}

.best-quality-icon svg {
    height: 50%;
    width: 50%;
}

@media(max-width:1025px) {
    .gridsmallfont {
        font-size: 130%;
        width: 100%;
    }
}

@media(max-width:1000px) {
    .best-quality-heading-font {
        font-size: 150%;
    }

    .gridsmallfont {
        font-size: 100%;
        width: 100%;
    }
}

@media(max-width:700px) {

    .best-quality-heading-font {
        font-size: 106%;
    }

    .gridsmallfont {
        font-size: 80%;
        padding-top: 3%;
    }

    .best-quality-container {
        grid-template-columns: 20% 80%;
        padding: 0% 6% 3% 6%;
        grid-row-gap: 0%;
    }
}

@media(max-width:426px) {
    .best-quality-container {
        grid-template-columns: 30% 70%;
        grid-row-gap: 3%;
    }
}

.weprovide1-container {
    display: flex;
    padding: 10% 0% 6% 0%;
}

#weprovide1image {
    height: auto;
    width: 40%;
}

#weprovtext {
    margin-left: 7%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weprovide-heading-font {
    font-size: 40px;
    font-weight: bold;
    width: 50%;
}

.weprovsub {
    font-weight: 500;
    font-size: 125%;
    color: #5a6e79;
    font-family: 'Poppins', sans-serif;
}

.weprovnum {
    color: #5a6e79;
    display: grid;
    grid-template-columns: 24% 20% 20%;
    padding-top: 4%;
}

.digit {
    font-weight: bold;
    font-size: 60px;
    padding-bottom: 2%;
}

.numbers {
    padding-top: 4%;
    padding-right: 10%;
}

@media(min-width:1025px) {
    .weprovide1-container {
        padding: 4% 0%;
    }
}

@media(max-width:1025px) {
    .weprovide1-container {
        padding: 10% 1% 6% 2%;
    }

    #weprovide1image {
        width: 47%;
    }

    .weprovide1-heading {
        width: 70%;
        margin: 0;
    }

    #weprovtext {
        margin-left: 3%;
    }

    .weprovnum {
        padding-top: 0%;
        grid-template-columns: 30% 30% 30%;
    }
}

@media(max-width:1000px) {
    #weprovide1image {
        height: auto;
        width: 49%;
    }

    .weprovide1-container {
        padding: 68px 22px 49px 22px;
    }

    .weprovide1-heading {
        font-size: 33px;
        width: 90%;
    }

    #weprovtext {
        margin-left: 3%;
    }

    .weprovsub {
        font-size: 90%;
    }

    .digit {
        font-size: 44px;
    }
}

@media(max-width:700px) {
    .weprovide1-container {
        display: flex;
        flex-direction: column;
        padding: 15px 22px 5px 22px;
    }

    #weprovtext {
        margin-left: 0;
        padding: 9px 0px;
    }

    .weprovide-heading-font {
        font-size: 18px;
        margin: 0;
        width: 57%;
    }

    #weprovide1image {
        height: auto;
        width: 100%;
    }

    .weprovsub {
        font-size: 7px;
        width: 92%;
    }

    .digit {
        font-size: 28px;
    }
}

@media(max-width:426px) {
    .numbers {
        padding-top: 0%;
        padding-right: 6%;
    }

    .weprovnum {
        grid-template-columns: 20% 20% 20%;
    }
}

#learnbuttoncontainer {
    padding-top: 7%;
    display: flex;
    align-items: center;
}

#learnbutton {
    background-color: white;
    color: #5a6e79;
    border: 2px solid #5a6e79;
    padding: 11px 20px;
}

#arrowimage {
    width: 38px;
    position: absolute;
    left: 13.5%;
}

@media(max-width:1025px) {
    #arrowimage {
        left: 20%;
    }
}

@media(max-width:1000px) {
    #arrowimage {
        position: relative;
        left: -3.5%;
    }
}

@media(max-width:700px) {

    #learnbuttoncontainer {
        padding-top: 3%;
        display: flex;
        align-items: center;
    }

    #learnbutton {
        border: 1px solid #5a6e79;
        padding: 4px 9px;
        font-size: 64%;
    }

    #arrowimage {
        width: 20px;
        left: -1.5%;
    }
}

@media(max-width:376px) {
    #arrowimage {
        width: 18px;
        left: -2%;
    }
}

.weprovide2-container {
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: 14% 57%;
    grid-gap: 10px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5a6e79;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.line {
    width: 2px;
    height: 100%;
    background-color: gray;
}

.grid-item-left {
    display: flex;
    justify-content: center;
}

.grid-item-heading {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 150%;
}

.grid-item-paragraph {
    font-size: 105%;
    color: #5a6e79;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

@media(max-width:1025px) {
    .weprovide2-container {
        padding: 0% 1% 0% 2%;
    }

    .weprovide2-heading {
        width: 67%;
    }

    .part1 {
        flex: 1;
    }

    .part2 {
        flex: 1;
    }

    .grid-container {
        grid-template-columns: 14% 76%;
    }
}

@media(max-width:1000px) {
    .weprovide2-container {
        padding: 0px 22px;
        display: flex;
        flex-direction: column;
    }

    .grid-container {
        padding-top: 5%;
        grid-template-columns: 14% 78%;
    }
}

@media(max-width:700px) {
    .circle {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    .line {
        width: 1.5px;
    }

    .grid-item-heading {
        font-size: 107%;
    }

    .grid-item-paragraph {
        font-size: 64%;
    }
}

.part2 {
    margin-left: auto;
}

#weprovide2image {
    height: 642px;
    width: 550px;
    padding-top: 33px;
}

@media(max-width:1025px) {
    #weprovide2image {
        width: 493px;
    }
}

@media(max-width:1000px) {
    .part2 {
        margin-right: auto;
    }

    #weprovide2image {
        height: 642px;
        padding-top: 64px;
    }
}

@media(max-width:700px) {
    .part2 {
        margin-left: 0;
        padding-left: 0%;
    }

    #weprovide2image {
        height: auto;
        width: 100%;
        padding-top: 10px;
    }

}

.weour-container {
    display: flex;
    padding: 4% 0% 0% 0%;
    align-items: center;
}

.weourtext {
    width: 23%;
}

.weouricon {
    margin-left: auto;
}

@media(min-width:1025px) {
    .weour-container {
        padding: 2% 0% 0% 0%;
    }
}

@media(max-width:1025px) {
    .weour-container {
        padding: 6% 2% 3% 2%;
    }

    .weourtext {
        width: 34%;
    }
}

@media(max-width:1000px) {
    .weour-container {
        padding: 9% 4% 0% 4%;
    }

    .weourtext {
        width: 45%;
    }
}

@media(max-width:700px) {
    .weour-container {
        padding: 2% 4% 2% 4%;
    }

    .weourtext {
        width: 56%;
    }
}

.iconclr1 {
    color: #c4c5c7;
}

.iconclr2 {
    color: #878c8f;
}

@media(max-width:700px) {
    .weouricon {
        font-size: 55%;
    }
}

.quote-container {
    display: flex;
    padding: 20px 0px 70px 0px;
}

.quote-container i {
    color: white;
}

.quotebox {
    flex: 1;
    background-color: #5a6e79;
    color: white;
    padding: 5% 8%;
}

.space {
    width: 40px;
}

.quoteheading {
    font-weight: 500;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    width: 77%;
}

.quotetext {
    font-family: 'Poppins', sans-serif;
    font-size: small;
    margin: 0;
    padding: 0% 0% 6% 0%;
}

.image-container {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.person {
    display: flex;
    align-items: center;
}

.name-container {
    padding-left: 16px;
    padding-top: 9px;
}

.name-container p {
    margin: 0;
}

.personname {
    font-size: 113%;
}

.personjob {
    font-size: 78%;
}

@media(max-width:1025px) {
    .quote-container {
        padding: 10px 21px 70px 21px;
    }

    .quotebox {
        padding: 5% 6%;
    }

}

@media(max-width:700px) {
    .quote-container {
        display: flex;
        flex-direction: column;
        padding: 3%;
    }

    .space {
        height: 10px;
    }

    .quotebox i {
        font-size: xx-large;
    }

    .quoteheading {
        font-size: large;
    }

    .quotebox {
        padding: 2% 3%;
    }

    .quotetext {
        font-size: xx-small;
    }

    .image-container {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        align-items: center;
    }

    .name-container {
        padding-left: 10px;
        padding-top: 0px;
    }

    .personname {
        font-size: 75%;
    }

    .personjob {
        font-size: 56%;
    }
}

.subscribe-container {
    text-align: center;
    padding: 2% 0% 5% 0%;
    display: flex;
    flex-direction: column;
}

.subscribe-section-heading {
    width: 33%;
    margin: auto;
}

.subscribe-section-paragraph {
    color: #5a6e79;
    font-family: 'Poppins', sans-serif;
    font-size: 85%;
    font-weight: 500;
    margin: auto;
    width: 33%;
    padding-top: 2%;
}

@media(max-width:1025px) {
    .subscribe-container {
        text-align: center;
        padding: 2% 0% 6% 0%;
    }

    .subscribe-section-heading {
        width: 45%;
    }

    .subscribe-section-paragraph {
        width: 46%;
    }
}

@media(max-width:1000px) {
    .subscribe-container {
        text-align: center;
        padding: 2% 0% 1% 0%;
    }

    .subscribe-section-heading {
        width: 69%;
    }

    .subscribe-section-paragraph {
        padding-bottom: 5%;
        width: 55%;
    }
}

@media(max-width:700px) {
    .subscribe-container {
        padding: 0% 0% 3% 0%;
    }

    .subscribe-section-heading {
        width: 48%;
    }

    .subscribe-section-paragraph {
        font-size: 48%;
        width: 64%;
    }

}

.textfieldcontainer {
    width: 46%;
    margin: auto;
    box-shadow: 0px -1px 10px #d2d1d1;
    position: absolute;
    bottom: 96.5%;
    background-color: white;
}

.textfieldclass {
    height: 51px;
    width: 67%;
    border: none;
    position: relative;
    left: 5%;
    top: 5%;
}

#subscribebutton {
    border: none;
    background-color: #5a6e79;
    color: white;
    padding: 10px 44px;
    position: absolute;
    right: 2%;
    top: 14%;
    font-family: 'Poppins', sans-serif;
}

@media(max-width:1000px) {
    #subscribebutton {
        right: 13px;
        top: 8px;
        font-size: 77%;
        padding: 1px 6px
    }

    .textfieldcontainer {
        width: 34%;
        box-shadow: 0px 0px 7px #d2d1d1;
        bottom: 98%;
    }

    .textfieldclass {
        height: 35px;
    }
}

@media(max-width:700px) {
    .textfieldcontainer {
        width: 48%;
        box-shadow: 0px 0px 7px #d9d9d9;
        bottom: 98%;
    }

    .textfieldclass {
        height: 25px;
        left: 5%;
        top: 9%;
        font-size: 66%;
    }

    #subscribebutton {
        right: 9px;
        top: 6px;
        font-size: 61%;
        padding: 1px 14px;
    }
}

@media(max-width:426px) {
    #subscribebutton {
        padding: 0px 5px;
    }
}

@media(max-width:376px) {
    .textfieldcontainer {
        width: 54%;
    }
}

@media(max-width:321px) {
    .textfieldcontainer {
        width: 63%;
    }
}

footer {
    position: relative;
    width: 100%;
    background-color: #5a6e79;
    display: flex;
    justify-content: center;
}

.luxhead {
    font-weight: bold;
    font-size: 22px;
    color: white;
    margin: 0;
}

.luxtext {
    padding-top: 28px;
    color: #bbbbbb;
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    line-height: 40px;
}

.footerlinks {
    display: flex;
    flex-direction: row;
    padding: 8% 0%;
    flex-wrap: wrap;
}

.footerblock {
    padding: 24px 18px 0px 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    flex: 1.5;
}

.firstblock {
    flex: 3.5;
    padding: 24px 18px 0px 18px;
}

.firstblock-paragraph {
    width: 69%;
}

.lastblock {
    flex: 2;
}

.footericoncontainer {
    padding-top: 28px;
}

.footericoncontainer a {
    display: inline;
    line-height: 0px;
}

.footericons {
    color: #ffffff;
    line-height: 80px;
}

@media(min-width:2000px) {
    .footerlinks {
        padding: 2% 0%;
    }
}

@media(max-width:1025px) {
    .footerblock i {
        font-size: 21px;
    }

    .footerblock {
        flex: 1;
    }

    .firstblock-paragraph {
        width: 84%;
    }

    .firstblock {
        flex: 3;
    }

    .lastblock {
        flex: 1.9;
    }
}

@media(max-width:1000px) {
    .footerlinks {
        padding: 5% 0% 0% 0%;
    }

    .firstblock-paragraph {
        width: 100%;
    }

    .footericoncontainer {
        padding-top: 0px;
    }
}

@media (min-width:700px) and (max-width:991px) {
    .footerlinks {
        flex-wrap: wrap;
    }

    .footerblock {
        flex-basis: auto;
        width: 25%;
        padding: 24px 18px 24px 18px;
        text-align: center;
    }
}

@media(max-width:700px) {
    .footerblock {
        padding: 0px 0px 0px 18px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footerlinks {
        flex-direction: column;
        padding: 8% 0% 3% 0%;
    }

    .luxhead {
        font-weight: 500;
        font-size: 16px;
    }

    .luxtext {
        padding-top: 3px;
        padding-bottom: 2px;
        font-size: xx-small;
    }

    footer a {
        line-height: 16px;
    }

    .footericoncontainer {
        padding-top: 17px;
    }

    .footericons {
        line-height: 21px;
    }
}